@font-face {
  font-family: "Futura Light";
  src: url(./fonts/FUTURAL.TTF);
}

@font-face {
  font-family: "Futura Medium";
  src: url(./fonts/FUTURAM.TTF);
}

@font-face {
  font-family: "Futura Bold";
  src: url(./fonts/FUTURAB.TTF);
}

/* End of typesface import */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* End of reset */

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Globals */

body {
  font-family: "Futura Light", Helvetica, sans-serif;
  font-size: 18px;
  color: #2f2f2f;
  max-width: 1100px;
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 3px;
  padding: 0 30px 0 30px;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 33.5px;
}

a {
  color: #2b2b2b;
  text-decoration: none;
}

a.blue {
  color: #1b5c8b;
  font-family: "Futura Medium";
  padding-bottom: 3px;
  border-bottom: 2px solid #fff;
  transition: border 0.3s ease-in-out;
}

a.green {
  color: #0a8078;
  font-family: "Futura Medium";
  padding-bottom: 3px;
  border-bottom: 2px solid #fff;
  transition: border 0.3s ease-in-out;
}

a.green:hover {
  border-bottom: 2px solid #0a8078;
}

a.blue:hover {
  border-bottom: 2px solid #1b5c8b;
}

section {
  margin-bottom: 100px;
}

i {
  font-size: 16px;
}

/* .medium {
  font-family: "Futura Medium";
  color: #383838;
} */

.button-main {
  display: inline-block;
  font-family: "Futura Medium";
  color: #fff;
  font-size: 15px;
  background: linear-gradient(
    to left,
    rgb(141, 52, 183) 0%,
    rgb(228, 106, 187) 100%
  );
  padding: 20px 35px;
  border-radius: 7px;
  box-shadow: 0px 4px 10px rgba(50, 20, 139, 0.25);
  margin-top: 30px;
}

#scroll {
  z-index: 100;
}

/* End of globals */

.background {
  background-image: url(./imgs/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left -100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

header .logo {
  /* margin-top: -11px; */
  opacity: 0.5;
  /* width: 20px; */
  font-family: "Futura Medium";
  letter-spacing: 0;
  transition: opacity 0.3s ease-in-out;
}

.logo a {
  color: #56aded;
}

header nav a {
  font-size: 13px;
  margin-left: 50px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: border 0.1s ease-in-out;
}

section.hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 50px;
  gap: 20px;
}

section.hero .hello {
  text-transform: uppercase;
  font-family: "Futura Bold";
  color: #56aded;
  margin-bottom: 30px;
}

section.hero .hero-copy {
  grid-column: 1 / 8;
  margin-top: 60px;
}

section.hero .hero-copy p {
  font-size: 19px;
  margin-top: 20px;
  line-height: 1.6;
}

section.hero div.slides {
  grid-column: 9 / span 4;
  height: 473px;
  position: relative;
}

section.hero div.slides img {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s, box-shadow 0.5s;
}

section.hero div.slides:hover img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

section.hero div.slides img:first-child {
  z-index: 1;
}

section.hero .hero-footer {
  font-size: 12px;
  margin-bottom: 30px;
  margin-top: 100px;
  display: flex;
  justify-content: flex-end;
  grid-column: 1 / span 12;
}

section.hero .hero-footer .hero-footer-social a {
  margin-left: 50px;
  font-family: "Futura Medium";
  transition: color 0.2s ease-in;
}

section.hero .hero-footer .hero-footer-social p {
  margin-left: 10px;
}

section.hero .hero-footer div,
section.hero .hero-footer div a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Unique hover states for each link */

header nav a:first-child:hover {
  border-bottom: 2px solid #edc356;
}

header nav a:nth-child(2):hover {
  border-bottom: 2px solid #1cc7bc;
}

header nav a:nth-child(3):hover {
  border-bottom: 2px solid #c71cc0;
}

header nav a:last-child:hover {
  border-bottom: 2px solid #c06649;
}

header .logo:hover {
  opacity: 1;
}

.hero-footer .hero-footer-social a:first-child:hover {
  color: #2867b2;
}

.hero-footer .hero-footer-social a:nth-child(2):hover {
  color: #ea4c89;
}

.hero-footer .hero-footer-social a:nth-child(3):hover {
  color: #1b7434;
}

/* End of unique hover states end of header / hero  */

#scroll {
  background-color: #7dc8ff;
  height: 3px;
  position: fixed;
  top: 0;
  left: 0;
}
