/* Header -Partial */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;

  .header-logo {
    opacity: 0.5;
    width: 120px;
    font-family: 'Futura Medium';
    letter-spacing: 0;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  nav a {
    font-size: 13px;
    margin-left: 50px;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border 0.1s ease-in-out;

    /* Unique hover states for each link */

    &:first-child:hover {
      border-bottom: 2px solid $colorNav1;
    }

    &:nth-child(2):hover {
      border-bottom: 2px solid $colorNav2;
    }

    &:nth-child(3):hover {
      border-bottom: 2px solid $colorNav3;
    }

    &:last-child:hover {
      border-bottom: 2px solid $colorNav4;
    }
  }
}
