/* Typography */

@font-face {
  font-family: 'Futura Light';
  src: url(../../dist/fonts/FUTURAL.TTF);
}

@font-face {
  font-family: 'Futura Medium';
  src: url(../../dist/fonts/FUTURAM.TTF);
}

@font-face {
  font-family: 'Futura Bold';
  src: url(../../dist/fonts/FUTURAB.TTF);
}
