/* Variables */

// Colors General
$colorMain: #56aded;
$colorBody: #2f2f2f;

// Link Colors
$colorNav1: #edc356;
$colorNav2: #1cc7bc;
$colorNav3: #c71cc0;
$colorNav4: #c06649;

$colorLinkedin: #2867b2;
$colorDribbble: #ea4c89;
$colorGithub: #1b7434;

// Highlight Colors
$colorHighlightDrk: #383838;
$colorHighlightBlue: #1b5c8b;
$colorHighlightGreen: #0a8078;
$colorHighlightGreenBackground: rgba(56, 224, 213, 0.2);
$colorHighlightBlueBackground: rgba(66, 151, 211, 0.2);
